{{/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/}}

{{define "navbar-print"}}
<!-- Main Navbar -->
<nav class="navbar navbar-dark fixed-top bg-dark d-print-none">
    <div class="">
        <button class="btn btn-primary mr-2 d-inline" id="buttonBack" onclick="print();">
            <i class="fa fa-print" aria-hidden="true"></i>
            <span class="d-none d-md-inline"> Print</span>
        </button>
        <div id="showFormCheckbox" class="d-none">
            <label class="navbar-link text-light" for="showForm">
                <input id="showForm" value="false" type="checkbox">
                show execution form fields
            </label>
        </div>
    </div>
</nav>

{{end}}