{{/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/}}

{{define "tab-content"}}
<div class="tab-card card" id="tabTestDashboard">
    <div class="navbar navbar-light action-bar p-3 d-print-none">
        {{/*<div class="btn-group">*/}}
            {{/*<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">*/}}
                {{/*Variants*/}}
            {{/*</button>*/}}
            {{/*<div class="dropdown-menu">*/}}
                {{/*{{range .Dashboard.Variants}}*/}}
                    {{/*<a class="dropdown-item" href="#">{{ .Name }}</a>*/}}
                {{/*{{end}}*/}}
            {{/*</div>*/}}
        {{/*</div>*/}}
    </div>
    <div class="row tab-side-bar-row">
        <div class="col-md-12 p-3">
            <h4 class="mb-3">
                Dashboard
            </h4>
            <div class="panel panel-default">
                <table class="table table-bordered" id="dashboardTable">
                    <thead>
                        <tr>
                            <th>
                                Test Cases
                            </th>
                            {{range .Dashboard.DashboardElementTest.Versions }}
                                <th class="text-center">
                                    {{ .Name }}
                                </th>
                            {{end}}
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Dashboard.DashboardElementTest.Results}}
                            <tr>
                                <td class="align-middle">
                                    {{.TestCase.Name}}
                                </td>
                                {{range .Results}}
                                    <td class="text-center" style="font-size:1.5em;">
                                        {{if eq .String "NotApplicable"}}
                                            <i class="fa fa-minus-circle text-secondary" aria-hidden="true" data-toggle="tooltip"
                                               data-placement="bottom" title="Not applicable"></i>
                                        {{else if eq .String "PassWithComment"}}
                                            <i class="fa fa-exclamation-circle text-warning" aria-hidden="true" data-toggle="tooltip"
                                               data-placement="bottom" title="Passed with comments"></i>
                                        {{else if eq .String "Pass"}}
                                            <i class="fa fa-check-circle text-success" aria-hidden="true" data-toggle="tooltip"
                                               data-placement="bottom" title="Passed"></i>
                                        {{else if eq .String "NotAssessed"}}
                                            <i class="fa fa-question-circle text-secondary" aria-hidden="true" data-toggle="tooltip"
                                               data-placement="bottom" title="Not assessed"></i>
                                        {{else if eq .String "Fail"}}
                                            <i class="fa fa-exclamation-circle text-danger" aria-hidden="true" data-toggle="tooltip"
                                               data-placement="bottom" title="Failed"></i>
                                        {{end}}
                                    </td>
                                {{end}}
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{end}}